# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch / TensorFlow / Keras models
*.pt
*.h5

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit / deployment
*.db
*.sqlite3
